body {
    background: rgb(92,235,204);
}

a.link {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a.click{
    color: rgb(34, 206, 34);
}

.name{
    color: navy;
    background-color: antiquewhite;
    text-align: center;
    border: 10px solid rgb(28, 173, 192);
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
}

#site_header {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(4, 70, 114);
}

.nav {
    display: inline-block;
    align-items: center;
    background-color: rgb(87, 104, 105);
    text-align: center;
    padding:30px 30px;
    text-align: center;
}

.nav a {
    justify-content: center;
    font-size: medium;
    color: antiquewhite;
}

#content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer {
    display: block;
    position: fixed;
    background-color: darkgray;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    vertical-align: bottom;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;a
}

.github {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-top: 10px solid rgb(39, 203, 214);
    border-radius: 10px;
    padding: 10px 20px;
}

.gallery {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.instagram-media {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}