body {
    background: rgb(92,235,204);
    background: radial-gradient(circle, rgba(92,235,204,1) 63%, rgba(9,9,121,1) 95%, rgba(75,231,87,1) 99%); 
}

a:link {
    text-decoration: none;
}

.name{
    color: navy;
    background-color: antiquewhite;
    text-align: center;
    border: 10px solid rgb(28, 173, 192);
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
}

.nav {
    display: inline-block;
    align-items: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding:30px 30px;
}

.sidebar {
    display: inline;
    text-align: center;
    justify-content: center;
    background-color: rgb(87, 104, 105);
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    list-style-type: none;
}

.footer {
    display: block;
    background-color: darkgray;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    vertical-align: bottom;
}

.github {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-top: 10px solid rgb(39, 203, 214);
    border-radius: 10px;
    padding: 10px 20px;
}